<div class="categories">
      <ul class="container categories-list">
        <li><a>Cleaning</a></li>
        <li><a>Garden</a></li>
        <li><a>Removal</a></li>
        <li><a>Gadgets</a></li>
      </ul>
    </div>