<%= form_tag(items_path, method: :get, id: 'search-bar') do%>
  <div class="input-group mb-3 container input-group-lg search-input">  
     <%= text_field_tag(:search ,params[:search],class: "form-control",placeholder: "I'm looking for...")%>
    <div class="input-group-append">
      <%= button_tag "Search",name: nil, class:"input-group-text"%>
    </div>
  </div>
<%end%>