<%=render "partials/categories-list"%>
<div class="banner">
    <%=render "partials/search"%> 
  </div>
<h3 class="center-element">Homepage Gallery</h3>
 <div class="card-deck">
 <%@items.each do |item| %>

 
 <%=render "items/item-card" , item: item%>
    
 <%end%>
 </div>
 <%= link_to "See More...", items_path, class: "center-element"%> 