<div id='item-booking-dates' class="booking-form">
        <%=form_with url: new_booking_path, method: :get, local: true do |form|%>
         <p></p>
          <%= form.hidden_field :start_date %>
          <%= form.hidden_field :end_date %>
          <%= form.hidden_field :item_id , {value: item.id}%>
          <label style="color: chocolate; font_size:1.75rem">Online Booking:</label>
          <p>Pick your days to make a booking</p>
          <input class="datepicker" id="depart" type="hidden" style="display: none"  />
          <button class="btn btn-block">Make a Booking </button>
        <%end%>
</div>