<%=render "partials/search"%> 
<div class="container">
 <div class="main-content">
  <div class="flex">
    <%@items.order('id desc').each do |item| %>
      <%=render "item-card" , item: item%>   
    <%end%>
  </div>
 </div> 
<div class="center-element">
<%== pagy_bootstrap_nav(@pagy) %>
</div>
</div>