<%=render "partials/search"%> 
<div class="container">
 <div class="main-content"> 
  <div class="flex">
    <%@items.each do |item| %>
      <a href="<%=item_path(item.id)%>">
      <%=render "item-card" , item: item%> 
      </a>  
    <%end%>
  </div>
 </div> 
<div class="center-element">
<%== pagy_bootstrap_nav(@pagy) %>
</div>
</div>