body {
    background-color: #f4f4f4 !important; 
}

.alert {color:red}
.categories {
    background-color: #6c757d;
}
.categories-list {
    padding:0;
    margin-bottom: 0px;
    color:#fff;
    list-style: none;
    display: flex;
    justify-content: space-around;
    a {color:white;}
    a:hover{
        text-decoration: underline;
    }
}
.flex{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
.form-content {
    max-width: 600px;
    margin: 0 auto;
}

.categories-list li{
    padding: 0.5em;
}

.banner {
    height: 310px;
    background-image: url("banner.jpg");
    
}

.search-input {
  padding-top: 15px;
} 
.center-element {
    display:block;
    text-align:center; 
    margin:15px;    
}
.items-gallery{
    display:flex;
    justify-content: space-around;

}

.breadcrumb {
    background-color: #f4f4f4;;
}

// .card-deck {
//     margin: 0 15px;
//     max-width:1140px;
  
// }
// .card{
//     min-width: 273px;
  
// }

.hide-overflow {
    overflow: hidden;
  text-overflow: ellipsis; 
}

.show-item-div{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-around;
}

.show-item-div>div{
    margin:15px 0px; 
} 

.left-column {
    width:100%;
    background-color: #fff;
    height: 700px;
    padding:5%;
    
}
.left-column img{
    max-width: 100%;
    max-height: 50%;
    display:block;
    margin:0 auto;
}

/* .left-column>h3{
    border-bottom: 1px solid #dedcdc;} */
.price {border-bottom: 1px solid #dedcdc;}
.description {
    margin-top: 1rem;
}
 .right-column {
     
    background-color: #fff;
    /* height: 300px; */
     padding:1.5%; 
} 
.right-column>h3{
    border-bottom: 1px solid #dedcdc;} 

.booking-form {
    text-align:center;
}    
.booking-form>label{
        font-size: 1.2rem;}    
.flatpickr-calendar.inline {
        max-width: 100%;}

.btn {
    background-color: chocolate;
    color: white;
    max-width: 100%;
    margin-top:20px;
    
}
.main-content {
    margin-top: 30px;
    padding-top:5%;
    padding-bottom:5%;
    padding-right:4%;
    padding-left:4%;
    background-color: #fff;
}        

.main-content h3 {
color:chocolate;
}
.checkout{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}
.checkout img{
    width: 100px;
    margin-left: 1.5rem;
}
.checkout>div{
    margin: 1.5rem;
}
@media (min-width: 1024px)
{ .left-column {
    width:67%;}
   .right-column {
        width:31%;} 

}
@media (min-width: 576px)
{
//     .card-deck {
//    margin: 0 auto;
   
//   }
// .card {
//     margin-bottom: 10px;
//     margin-top: 10px;
//   }
}